body {
    font-family: 'Nova Mono', monospace;
    color: grey;
}    
h2 {
    font-family: 'Parisienne', cursive;
    font-size: 32px;
    margin: 10px 0;
}
aside {
    position: absolute;
    top: 1%;
    right: 20%;
    background: whitesmoke;
    width:200px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    border: 5px whitesmoke outset;
    border-radius: 10px;
    transition: 2s;
}
aside h2 {
    margin-top: 0px;
}
aside p {
    padding-bottom: 5px;
}

a {
    float: right;
    margin-right: 5%;
    color: grey;
    text-decoration-color: darkgrey;
    text-decoration-style: dotted;
}

aside:hover {
    height: 305px;
}
div {
    margin: 1% 5%;
}

th {
    background-color: darkgray;
    border: grey solid 2px;
    padding: 1em .5em;
    vertical-align: middle;
    color: white;
}

table:first-of-type th {
    padding: 0.5em 0;
}

td {
    border: solid silver 1px;
    padding: 1em;
}