/* Use color codes:
1B676A
EEECED
FBAD0E
C7461B
41261C */
* {
    background-color: #eeeced;
}

.highlights {
    font-family: 'ZCOOL KuaiLe', cursive;
    color: #c7461b;
}

.data {
    font-family: Arial, Helvetica, sans-serif;
    color: #fbad0e;
    padding-left: 5%;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #41261c;
    font-size: 3em;
    padding-bottom: 1em;
}

img{
    width: 394px;
    height: 246px;
    object-fit: cover;
    object-position: 100% 0%;
    float: left;
}

h1 {
    text-align: right;
    font-size: 7em;
    padding: 5% 10% 0% 0%;
}

h2 {
    font-size: 2em;
    padding-left: 2%;
    padding-top: 5%;
}

p {
    width: 70%;
    float: right;
}

aside {
    width: 30%;
    float: left;
}

/* sales page */

table {
    width: 95%;
    margin: 1%;
}

tr :first-child{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

th {
    border: 5px solid #1b676a;
    background-color: #41261c;
    font-weight: bold;
    font-family: monospace;
    color: #fbad0e;
    vertical-align: middle;
}

td {
    background-color: #eeeced;
    padding: 0.5em 1em;
    border: 5px solid #1b676a;
    font-family: monospace;
    color: #41261c;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.3em;
}